<div class="editor">
  <div cols="10" id="editor1" name="editor1" rows="10" data-sample-short contenteditable="true" width="600px">
    <h1>The Annual Meeting of Fictional Characters</h1>
    <h3>Technical Announcement</h3>
    <p>We hereby have the pleasure to announce that the theme of this year&apos;s meeting is &quot;<strong>E&#x2013;ink Technology and Classical Fairy Tales</strong>&quot;. As every year, the event will be hosted in <em>The Wonderland</em> by <span class="h-card"><a class="p-name u-email" href="mailto:alice@example.com">Alice</a> <span class="p-tel">+20 4345 234 235</span></span> and starts tomorrow at 8:00 GMT.</p>
    <h3>Speakers and Agenda</h3>
    <p>TBA.</p>
    <h3>Venue</h3>
    <p>For detailed information, please contact <span class="h-card"><a class="p-name u-email" href="mailto:h.finn@example.com">Huckleberry Finn</a> <span class="p-tel">+48 1345 234 235</span></span>.</p>
    <h3>Accommodation</h3>
    <p>Many thanks to <span class="h-card"><a class="p-name u-email" href="mailto:r.crusoe@example.com">Robinson Crusoe</a> <span class="p-tel">+45 2345 234 235</span></span> who kindly offered his island to the guests of the annual meeting.</p>
    <hr>
    <p style="text-align: right;"><span class="h-card"><a class="p-name u-email" href="mailto:lrrh@example.com">Little Red Riding Hood</a> <span class="p-tel">+45 2345 234 235</span></span></p>
  </div>
</div>
<div class="contacts">
  <h3>List of Droppable Contacts</h3>
  <ul id="contactList">
    <li>
      <div class="contact h-card" data-contact="0" draggable="true" tabindex="0">
        <img src="https://ckeditor.com/docs/ckeditor4/latest/examples/assets/draganddrop/img/hfin.png" alt="avatar" class="u-photo"> Huckleberry Finn
      </div>
    </li>
    <li>
      <div class="contact h-card" data-contact="1" draggable="true" tabindex="0">
        <img src="https://ckeditor.com/docs/ckeditor4/latest/examples/assets/draganddrop/img/dartagnan.png" alt="avatar" class="u-photo"> D'Artagnan
      </div>
    </li>
    <li>
      <div class="contact h-card" data-contact="2" draggable="true" tabindex="0">
        <img src="https://ckeditor.com/docs/ckeditor4/latest/examples/assets/draganddrop/img/pfog.png" alt="avatar" class="u-photo"> Phileas Fogg
      </div>
    </li>
    <li>
      <div class="contact h-card" data-contact="3" draggable="true" tabindex="0">
        <img src="https://ckeditor.com/docs/ckeditor4/latest/examples/assets/draganddrop/img/alice.png" alt="avatar" class="u-photo"> Alice
      </div>
    </li>
    <li>
      <div class="contact h-card" data-contact="4" draggable="true" tabindex="0">
        <img src="https://ckeditor.com/docs/ckeditor4/latest/examples/assets/draganddrop/img/lrrh.png" alt="avatar" class="u-photo"> Little Red Riding Hood
      </div>
    </li>
    <li>
      <div class="contact h-card" data-contact="5" draggable="true" tabindex="0">
        <img src="https://ckeditor.com/docs/ckeditor4/latest/examples/assets/draganddrop/img/winetou.png" alt="avatar" class="u-photo"> Winnetou
      </div>
    </li>
    <li>
      <div class="contact h-card" data-contact="6" draggable="true" tabindex="0">
        <img src="https://ckeditor.com/docs/ckeditor4/latest/examples/assets/draganddrop/img/edantes.png" alt="avatar" class="u-photo"> Edmond Dantès
      </div>
      ``</li>
    <li>
      <div class="contact h-card" data-contact="7" draggable="true" tabindex="0">
        <img src="https://ckeditor.com/docs/ckeditor4/latest/examples/assets/draganddrop/img/rcrusoe.png" alt="avatar" class="u-photo"> Robinson Crusoe
      </div>
    </li>
  </ul>
</div>
<button (click)="saveData($event)">Save</button>
